<footer>
  <div class="copyright">
    © 2022 by Felix Döring, Made with ♥ in Dresden
  </div>
  <div class="center">
    {% if site.email %}<a href="mailto:{{ site.email.address | encode_email }}" title="{% t link_extern %} Mail"><i
        class="fas fa-envelope"></i> Mail</a>
    (<a href="{{ site.email.gpg.path  | prepend: site.baseurl_root }}" title="GPG-Key"><i class="fas fa-key"></i></a>){%
    endif %}
    {% if site.social.github %}<a href="{{ site.social.github }}" target="_blank" title="{% t link_extern %} Github"
      rel="noopener"><i class="fab fa-github"></i>
      Github</a>{% endif %}
    {% if site.social.twitter %}<a href="{{ site.social.twitter }}" target="_blank" title="{% t link_extern %} Twitter"
      rel="noopener"><i class="fab fa-twitter"></i>
      Twitter</a>{% endif %}
    {% if site.social.telegram %}<a href="{{ site.social.telegram }}" target="_blank"
      title="{% t link_extern %} Telegram" rel="noopener"><i class="fab fa-telegram-plane"></i> Telegram</a>{%
    endif %}
    {% if site.social.linkedin %}<a href="{{ site.social.linkedin }}" target="_blank"
      title="{% t link_extern %} LinkedIn" rel="noopener"><i class="fab fa-linkedin"></i>
      LinkedIn</a>{% endif
    %}
  </div>
  <div class="legal">
    {% for footerpage in site.pages %}
    {% if footerpage.title == "titles.imprint" or footerpage.title == "titles.privacy" %}
    <a href="{{ footerpage.url | prepend: site.baseurl }}" title="{% t footerpage.title %}">{% t footerpage.title %}</a>
    {% endif %}
    {% endfor %}
  </div>
</footer>
