{% assign front = false %}
{% if page.url == "/" or page.url == "/de" %}
{% assign front = true %}
{% endif %}
<header class="navigation {% if page.layout == "bannerpage" %}transparent{% endif %}">
  <div class="menu">

    <div class="logo {% if page.layout == "bannerpage" %}hidden{% endif %}">
      {{ site.title }}
    </div>

    <div class="mobile-toggle">
      <i class="fas fa-bars"></i>
    </div>


    <div class="nav-items">
      <nav>
        <ul>
          {% for navpage in site.pages %}
          {% if navpage.title != "titles.error" and navpage.title != "titles.imprint" and navpage.title !=
          "titles.privacy" %}
          <li {% if page.title==navpage.title %}class="active" {% endif %}>
            <a href="{{ navpage.url | prepend: site.baseurl }}" title="{% t navpage.title %}">{% t navpage.title %}</a>
          </li>
          {% if navpage.anchors %}
          {% for anchor in navpage.anchors %}
          <li class="anchorlink">
            <a href="{{ navpage.url | prepend: site.baseurl }}#{{ anchor }}" title="{% t titles.{{anchor}} %}">{% t titles.{{anchor}} %}</a>
          </li>
          {% endfor %}
          {% endif %}
          {% endif %}
          {% endfor %}
          {% if site.languages %}
          <li class="language">
            {% for language in site.languages %}
            <div>{% capture href%}{{ site.baseurl_root }}{% if forloop.first != true %}/{{ language }}{% endif %}{{
              page.url}}{%endcapture %}{% if site.lang == language %}{{ language | upcase }}{% else %}<a
                href="{{ href }}" title="{{ language | upcase }}">{{ language | upcase }}</a>{% endif %}{% if
              forloop.last != true %}&nbsp;|&nbsp;{% endif %}</div>
            {% endfor %}
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</header>
