<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, init-scale=1">

  <title>Felix Döring - {% if include.title %}{{ include.title }}{% else %}{% t page.title %}{% endif %}</title>
  <meta name="description"
    content="{% if page.description %}{% t page.description %}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 300 }}{% else %}{% t description.page %}{% endif %}">
  <meta name="keywords" content="felix,döring,felix döring,developer,full stack,dresden{% if page.tags != "" %},{{ page.tags }}{% endif %}">

  <!-- Open Graph tags -->
  <meta property="og:locale" content="{% if site.lang == "en" %}en_US{% else %}de_DE{% endif %}">
  <meta property="og:title" content="{% if include.title %}{{ include.title }}{% else %}{% t page.title %}{% endif %}">
  <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:site_name" content="Felix Döring - felixdoering.com">
  <meta property="og:description"
    content="{% if page.description %}{% t page.description %}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 300 }}{% else %}{% t description.page %}{% endif %}">
  <meta property="og:image" content="{{ site.url }}/og-logo.png">
  <meta property="og:image:height" content="1200px">
  <meta property="og:image:width" content="630px">
  {% if page.layout == "post" %}
  <meta property="og:type" content="article">
  <meta property="article:published_time" content="{{ page.date }}" />
  <meta property="article:publisher" content="https://www.facebook.com/h4ll0w3En" />
  <meta property="article:author" content="https://www.facebook.com/h4ll0w3En" />
  {% else %}
  <meta property="og:type" content="website">
  {% endif %}

  <!-- Twitter Card tags -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{% if include.title %}{{ include.title }}{% else %}{% t page.title %}{% endif %}">
  <meta name="twitter:description"
    content="{% if page.description %}{% t page.description %}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 300 }}{% else %}{% t description.page %}{% endif %}">
  <meta name="twitter:site" content="@Felix_Doering" />
  <meta name="twitter:creator" content="@Felix_Doering">

  {% for link in site.data.icons.link %}
  <link {% for item in link %} {{ item[0]
    }}="{% if item[0] == 'href' %}{{ item[1]  | prepend: site.baseurl_root }}{% else %}{{ item[1] }}{% endif %}" {%
    endfor %}>
  {% endfor %}

  {% for link in site.data.icons.meta %}
  <meta {% for item in link %} {{ item[0] }}="{{ item[1] }}" {% endfor %}>
  {% endfor %}

  {% asset felixdoering.css %}

  {% asset base.js %}

  {% if page.anchors %}
  <script>
    var pageanchors = "{% for anchor in page.anchors %}{{ anchor }}{% if forloop.last != true %},{% endif %}{% endfor %}".split(',');
  </script>
  {% endif %}

  {% asset navigation.js %}
  {% if page.layout == "bannerpage" %}
  {% asset banner.js %}
  {% endif %}
  {% if page.layout == "playlist" %}
  {% asset playlist.js %}
  {% endif %}
</head>
