<header class="navigation {% if page.layout == "bannerpage" %}transparent{% endif %}">
  <div class="menu">

    <div class="logo {% if page.layout == "bannerpage" %}hidden{% endif %}">
      {{ site.title }}
    </div>

    <div class="mobile-toggle">
      <i class="fas fa-bars"></i>
    </div>


    <div class="nav-items">
      <nav>
        <ul>
          {% include navigation/pages.html %}
          {% include navigation/languages.html %}
        </ul>
      </nav>
    </div>
  </div>
</header>
