a {
	@include fade($highlight-color, $primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $primary-color;
}

main {
	min-height: calc(100% - 11rem);
}

p#skip-link {
	margin: 0;
}

.errorcontainer {
	margin: 10rem auto;
	max-width: 600px;
	text-align: center;
	h1 {
		margin: 30px 0;
		font-size: 10em;
		line-height: 1;
		letter-spacing: -1px;
	}
}