.navigation {
  position: fixed;
  top: 0;
  max-height: 3em;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 0.5em;
  background-color: $bg-color;
  overflow: hidden;
}

.navrow {
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}

.open-nav {
  max-height: 23em !important;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  .mobile-toggle {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    color: $primary-color;
  }
}

.logo {
  width: auto;
  font-size: 1.5em;
  color: $primary-color;
  text-transform: uppercase;
  float: none;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
  text-indent: 2em;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 420 280' version='1.1' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg id='Layer-1' serif:id='Layer 1' transform='matrix(1.03542,0,0,0.999523,-133.318,-5.96069)'%3E%3Cg transform='matrix(1,0,0,1,186.394,203.844)'%3E%3Cpath d='M0,-115.628C1.647,-120.88 4.537,-125.51 8.67,-129.487C12.772,-133.465 18.303,-136.634 25.232,-138.934C32.162,-141.264 40.77,-142.414 51.055,-142.414L155.869,-142.414L155.869,-187.876L47.979,-187.876C30.764,-187.876 16.034,-185.638 3.853,-181.133C-8.359,-176.627 -18.303,-170.412 -26.009,-162.457C-33.716,-154.471 -39.309,-145.024 -42.789,-134.117C-46.239,-123.21 -47.979,-111.184 -47.979,-98.102L-47.979,72.248L-2.517,72.248L-2.517,-30.671L154.315,-30.671L154.315,-73.802L-2.517,-73.802L-2.517,-98.475C-2.517,-104.628 -1.678,-110.345 0,-115.628' style='fill:rgb(113,21,6);fill-rule:nonzero;'/%3E%3C/g%3E%3Cg transform='matrix(1.00322,0,0,1,494.774,244.117)'%3E%3Cpath d='M0,-196.173C-19.919,-217.49 -49.004,-228.148 -87.288,-228.148L-200.57,-228.148L-200.585,-182.717L-87.288,-182.687C-61.869,-182.687 -43.566,-176.068 -32.379,-162.83C-21.193,-149.592 -15.63,-128.089 -15.63,-98.289C-15.63,-68.488 -21.286,-46.892 -32.566,-33.561C-43.877,-20.199 -62.118,-13.518 -87.288,-13.518L-150.12,-13.518C-153.445,-13.518 -155.123,-15.04 -155.123,-18.148L-155.123,-61.621L-200.585,-61.621L-200.585,10.782C-200.585,24.89 -193.407,31.975 -179.019,31.975L-87.288,31.975C-49.004,31.975 -19.919,21.317 0,-0.031C19.888,-21.349 29.862,-53.977 29.862,-97.916C29.862,-142.072 19.888,-174.856 0,-196.173' style='fill:rgb(113,21,6);fill-rule:nonzero;'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A")
    no-repeat top left;
  @media #{$breakpoint-large} {
    float: left;
  }
}

.hidden{
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

nav {
  float: right;
  width: 100%;
  @media #{$breakpoint-large} {
    width: 60%;
  }
  a {
    color: $text-color;
    text-decoration: none;
    text-transform: uppercase;
  }
  ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
    @media only screen and (max-width: 60em) {
      padding-top: 10px;
      margin-bottom: 22px;
      float: left;
      text-align: center;
      width: 100%;
    }
    li {
      display: inline-block;
      margin-left: 2em;
      @media only screen and (max-width: 60em) {
        width: 100%;
        padding: 7px 0;
        margin: 0;
      }
    }
  }
}

.language{
  float: right;
  text-align: right;
  margin-left: 2em;
  margin-right: 1em;
  a{
    @include fade($text-color, $secondary-color);
    text-decoration: none;
  }
}

.mobile-toggle {
  display: block;
  cursor: pointer;
  font-size: 1.5em;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  @media #{$breakpoint-large} {
    display: none;
  }
}
