.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.col {
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
	&:first-child {
		margin-left: 0;
	}
}
.group {
	&:before {
		content: "";
		display: table;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	zoom: 1;
}
.full {
	width: 100%;
}
.two-third {
	width: 66.13%;
}
.one-third {
	width: 32.26%;
}
@media only screen and (max-width: 480px) {
	.col {
		margin: 1% 0 1% 0%;
	}
	.full {
		width: 100%;
	}
	.two-third {
		width: 100%;
	}
	.one-third {
		width: 100%;
	}
}
