@charset "UTF-8";

/* Import Font */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

@import "font-awesome-sprockets";
@import "font-awesome";

/* Import Mixins */
@import 'mixins/mixins';

/* Import Basics */
@import "basic/variables";
@import "basic/base";
@import "basic/navigation";

/* General */
html {
  box-sizing: border-box;
  background: $bg-color;
  color: $text-color;
  font-family: $font-family;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  height: 100%;
  line-height: $base-line-height;
  overflow-y: scroll;
}

body {
  max-width: $max-width-medium;
  margin: 0 auto;

  @media #{$breakpoint-large} {
    max-width: $max-width;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
