.banner {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $bg-color-darkmode;

  @media screen and (prefers-color-scheme: light) {
    background-color: $bg-color-lightmode;
  }

  @media #{$breakpoint} {
    display: flex;
    flex-direction: row;

    background-color: $banner-background-darkmode;

    @media screen and (prefers-color-scheme: light) {
      background-color: $banner-background-lightmode;
    }
  }
}

.bannerimage {
  height: 100%;
  width: 100%;
  object-fit: cover;

  @media #{$breakpoint} {
    width: auto;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%);
  }
}

.bannercontent {
  background: rgba($color: $banner-background-darkmode, $alpha: 0.7);

  height: 35%;
  width: 100%;
  top: 65%;
  position: absolute;
  display: flex;
  align-items: center;

  @media screen and (prefers-color-scheme: light) {
    background: rgba($color: $banner-background-lightmode, $alpha: 0.7);
  }

  @media #{$breakpoint} {
    display: inherit;
    align-items: inherit;
    height: inherit;
    width: inherit;
    top: inherit;
    position: inherit;
    background: transparent;
    flex-grow: 100;
    display: flex;
    margin-left: 10%;
    align-items: center;
  }

  .innerframe {
    width: 100%;

    @media #{$breakpoint} {
      width: auto;
    }
  }

  .title {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: $font-weight-strong;
    color: $banner-text-color;
    text-align: center;

    @media #{$breakpoint} {
      font-size: 6rem;
      line-height: 6rem;
      text-align: left;
      margin-top: inherit;
    }
  }

  .subtitle {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: $banner-text-color;
    text-align: center;

    @media #{$breakpoint} {
      font-size: 2.5rem;
      line-height: 2.5rem;
      padding-left: 6px;
      text-align: left;
    }
  }

  .socials {
    color: $banner-text-color;
    text-align: center;
    margin-top: 1%;

    @media #{$breakpoint} {
      margin-top: 10%;
    }

    a {
      color: $banner-text-color;
    }

    div {
      margin: 0 0.25rem;

      @media #{$breakpoint} {
        margin: 0 0.5rem;
      }

      display: inline-block;
    }
  }
}
