.banner {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $bg-color-darkmode;


  @media screen and (prefers-color-scheme: light) {
    background-color: $bg-color-lightmode;
  }

  @media #{$breakpoint-large} {
    display: flex;
    flex-direction: row;
    height: 100%;

    background-color: $banner-background-darkmode;


    @media screen and (prefers-color-scheme: light) {
      background-color: $banner-background-lightmode;
    }

  }
}

.bannerimage {
  height: 100%;
  width: 100%;
  object-fit: cover;

  @media #{$breakpoint-large} {
    width: auto;
    clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);
  }
}

.bannercontent {
  background: rgba($color: $banner-background-darkmode, $alpha: .7);

  height: 35%;
  width: 100%;
  top: 65%;
  position: absolute;

  @media screen and (prefers-color-scheme: light) {
    background: rgba($color: $banner-background-lightmode, $alpha: .7);
  }

  @media #{$breakpoint-large} {
    height: inherit;
    width: inherit;
    top: inherit;
    position: inherit;
    background: transparent;
    flex-grow: 100;
    display: flex;
    margin-left: 10%;
    align-items: center;
  }
}
