/* Variables */

/* Grid definition*/
$max-width: 90%;
$max-width-medium: 85%;

/* Breakpoints*/
$breakpoint-medium: "only screen and (min-width: 48em)";
$breakpoint-large: "only screen and (min-width: 60em)";

$font-family: "Raleway", sans-serif;
$font-size-base: 1rem !default;
$font-size-h1: 2rem !default;
$font-weight-strong: 700;
$font-weight-base: 400;
$base-line-height: 1.5rem;
$nav-foot-height: 3rem;
$text-color-darkmode: #FFFFFF !default;
$text-color-lightmode: #070707 !default;
$bg-color-darkmode: #202020;
$bg-color-lightmode: #EEEEEE;
$highlight-color: #711506;
$secondary-color: #B3B3B3;
$primary-color-lightmode: #b90e02;
$primary-color-darkmode: #d32418;
