@charset "UTF-8";

/* Import Font */
@import "font/raleway.scss";

// @import "font-awesome-sprockets";
@import "font-awesome";

/* Import Mixins */
@import "mixins/mixins";

/* Import variables */
@import "theme/variables";

/* Import Basics */
@import "basic/base";

/* Import layout */
@import "layout/navigation";
@import "layout/footer";

/* Import modules */
@import "modules/banner";
@import "modules/side";
@import "modules/post";
@import "modules/code";

/* General */
html {
  box-sizing: border-box;
  background: $bg-color-darkmode;
  color: $text-color-darkmode;
  font-family: $font-family;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $base-line-height;
  overflow-y: scroll;

  @media #{$breakpoint-fontsize} {
    font-size: $font-size-base-large;
  }

  @media screen and (prefers-color-scheme: light) {
    background: $bg-color-lightmode;
    color: $text-color-lightmode;
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
